<div id="footer_wrapper">
	<footer id="footer">
		<div class="container">
			<div class="row footer-specifique">

				<div class="col-sm-12 col-md-4 widget last">
					<div class="row">
						<div class="col-xs-8 col-sm-6 col-md-12">
						<h3 class="widget-title">{{ i18n "footer_certifications_title" }}</h3>
						<div class="widget-body">
							<span class="badge"><a href="https://pecb.com/en/userCertification/certificateVerification">ISO/IEC 27001 LEAD IMPLEMENTER</a><small>ISLI1123268-2023-04</small></span>
							<span class="badge"><a href="https://pecb.com/en/userCertification/certificateVerification">EBIOS RISK MANAGER</a><small>EBIOSPM1123268-2023-07</small></span>
							<span class="badge"><a href="https://certifications.esdacademy.eu/certification-badge/lasserre">ISO/IEC 27005 RISK MANAGER</a></span>
							<span class="badge"><a href="https://www.essain.fr/wp-content/uploads/2023/02/ESSAin-certification-QUALIOPI.pdf">QUALIOPI - processus certifié</a><small>2310 OF Ind 1</small></span>
						</div>
						</div>

						<div class="col-xs-4 col-sm-6 col-md-12">
						<h3 class="widget-title">{{ i18n "footer_followme_title" }}</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								{{ range .Site.Params.social }}
									{{ if .footer }}
										<a href="{{ .url }}" target="_blank"><i class="{{ .icon }} fa-1x"></i></a>
									{{ end }}
								{{ end }}
								</p>
						</div>
						</div>
					</div>

				</div>

				<div class="col-xs-12 col-md-8 widget">
					<div class="row">
						<div class="col-xs-8 col-sm-8 col-md-6 widget">
							<h3 class="widget-title" id="contact">{{ i18n "footer_contact_title" }}</h3>
							<div class="widget-body">
								<div id="contact_infos">
								<p class="name">Adrien Lasserre</p>
								{{ if .Site.Params.phone }}<p class="phone"><i class="fas fa-phone"></i> <a href="tel:{{ .Site.Params.phone }}">{{ .Site.Params.phone }}</a></p>{{ end }}
								{{ if .Site.Params.email }}<p class="mail"><i class="fas fa-paper-plane"></i> <a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a></p>{{ end }}
							</div>
									<hr/>
								<p>Parasélène est situé en <strong>région Lyonnaise</strong>. Nous intervenons en France et en Europe, et dans le monde entier à distance.</p>
								{{ if .Site.Params.address }}<p><i class="fas fa-map"></i> {{ .Site.Params.address }}</p>{{ end }}
								<p></p>
							</div>
						</div>

				
						<div class="col-xs-4 col-sm-4 col-md-6 widget widget-contact">
							<div class="widget-body">
							{{ replace (partial "svg/paraselene-situation.svg" .) 
					"&lt;?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?>" "" | safeHTML }}
							</div>
						</div>
					</div>
				</div>

				

				

				
			</div> <!-- /row of widgets -->
		</div>
	</footer>

	<footer id="underfooter">
		<div class="container">
			<div class="row">

				<div class="col-md-6 widget">
					<div class="widget-body">
							<a href="/mentions-legales">Mentions légales</a>
					</div>
				</div>

				<div class="col-md-6 widget">
					<div class="widget-body">
						<p class="text-right">
							{{ if .Site.Copyright }}
							Copyright &copy; {{ .Site.Copyright }} <br>
							{{ else }}
							Copyright &copy; {{ .Site.Params.year }}, {{ .Site.Params.name }}
							{{ end }}
						</p>
					</div>
				</div>

			</div> <!-- /row of widgets -->
		</div>
	</footer>
</div>


<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

{{ $template := resources.Get "js/template.js" }}
{{ $html5shiv := resources.Get "js/html5shiv.js" }}
{{ $js := (slice $template $html5shiv | resources.Concat "js/bundle.js") | resources.Minify | resources.Fingerprint "sha512" }}
<script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>

{{ if .Site.Params.disqus -}}
<script id="dsq-count-scr" src="//{{ .Site.Params.disqus.site }}/count.js" async></script>
{{ end -}}
{{ if .Site.Params.google.analytics -}}
{{ partial "footer/analyticstracking.html" . }}
{{ end -}}
</body>
</html>
