{{ define "main" }}
  <main id="main" class="404">
  
  	<div class="container">
  
  		<div class="row topspace">
  
  			<!-- Sidebar -->
  			<aside class="col-sm-3 sidebar sidebar-right">
  
  				<div class="nav text-right nav-side">
					<li class="title"><h1>
						404 - Page non trouvée
                    </h1>
					</li>
  				</div>
  
  			</aside>
  			<!-- /Sidebar -->

  			  
  			<article class="col-sm-8  col-sm-offset-1 maincontent">
				<a href="{{ "" | relURL }}" id="back_to_home"><i class="fas fa-backward"></i> Retourner à l'accueil</a>
  			</article>
  			<!-- /Article -->  
  		</div>
		
  	</div>	<!-- /container -->
  
	</main>
{{ end }}