<!-- Using Swiffy Slider : https://swiffyslider.com/configuration/?slider-item-show=slider-item-show3&slider-item-show2-sm=slider-item-show2-sm&slider-item-ratio=slider-item-ratio&slider-nav-style=slider-nav-square&slider-nav-arrows=slider-nav-outside&slider-indicators-style=slider-indicators-round&slider-indicators-outside=slider-indicators-outside&preview-style=preview-images -->
{{ $data := .Resources.GetMatch .Params.file | transform.Unmarshal }}
{{ $count := len $data }}

<div class="thumbnails clients count{{ $count }} swiffy-slider slider-item-show3 slider-item-show2-sm slider-item-ratio slider-nav-square slider-nav-outside slider-indicators-round slider-indicators-outside">
    <ul class="slider-container">
    
    {{ range $index, $area := $data }}
        <li class="{{ if ge $index (sub $count 3) }} slide-visible {{ end }}">
            <div id="slide{{ add 1 $index }}" class="bloc-client {{ .slug }}">
                <a class="thumbnail" href="{{ .url }}">
                    <span class="img">
                        <img src="{{ .image }}" alt="">
                        <span class="cover"><span class="more">{{ .url }} &rarr;</span></span>
                    </span>
                    <span class="title">{{ .name }}</span>
                </a>
                <span class="details">
                    {{ $len := sub (len .items) 1 }}
                    {{ range $i, $item := where .items "id" .index }}
                        <a href="{{ .url }}">{{ .name }}</a>
                        {{ if gt $len $i }} | {{ end }}
                    {{ end }}
                </span>
            </div>
        </li>
    {{ end }}
    </ul>
    
    <button type="button" class="slider-nav"></button>
    <button type="button" class="slider-nav slider-nav-next"></button>

    <!--
        <ul class="slider-indicators">
        {{ range $index, $area := $data }}
            <li class="{{ if eq $index (sub $count 1) }} active {{ end }}"></li>
        {{ end }}
    </ul>
    -->
</div>