
<div class="row ligne-services">
    {{ range where .Data.Pages "Section" .Section }}
    {{ $url := .Permalink }}
    {{ with .Params.more_link }}
      {{ $url = . }}
    {{ end }}
    
      <div class="col-sm-6 col-md-3 bloc-service">
        <div class="top">
          <h3 class="titre-service">
            <a href="{{ $url}}">
            {{ if .Params.icon }}<i class="{{ .Params.icon }} icone-service"></i>{{ end }}
            {{ .Title | safeHTML }}
            </a>
          </h3>
          <div class="summary"><a href="{{ $url }}">{{ .Summary }}</a></div>
        </div>
        <div class="bottom">
          <p class="read_more"><a href="{{ $url}}" class="btn btn-action">
            {{ if .Params.more_text }}{{ i18n .Params.more_text }}{{ else }}{{ i18n "read_more" }}{{ end }}</a>
          </p>
        </div>
      </div>
    {{ end }}
</div>