	<title>{{ .Title }}</title>
	<link rel="shortcut icon" href="{{ .Site.BaseURL }}{{ .Site.Params.favicon }}">

	<!-- Bootstrap -->
	{{ $bootstrap3 := resources.Get "vendor/bootstrap/bootstrap.no-icons.min.css" }}
	<link href="{{ $bootstrap3.Permalink }}" rel="stylesheet">
	
	<!-- Icons -->
	{{ $fontawesome5 := resources.Get "vendor/font-awesome/all.js" }}
	<script defer src="{{ $fontawesome5.Permalink }}"></script> <!-- integrity="sha384-ImVoB8Er8knetgQakxuBS4G3RSkyD8IZVVQCAnmRJrDwqJFYUE4YOv+DbIofcO9C" -->
	
	<!-- Fonts -->
	{{ $googlefonts := resources.Get "vendor/google-fonts/League-Spartan-800.css" }}
	<link rel="stylesheet" href="{{ $googlefonts.Permalink }}">
	
	<!-- Carousel -->
	{{ $swiffy_slider_1_6_js := resources.Get "vendor/swiffy-slider/swiffy-slider.min.js" }}
	<script src="{{ $swiffy_slider_1_6_js.Permalink }}" crossorigin="anonymous" defer></script>
	{{ $swiffy_slider_1_6_css := resources.Get "vendor/swiffy-slider/swiffy-slider.min.css" }}
	<link href="{{ $swiffy_slider_1_6_css.Permalink }}" rel="stylesheet" crossorigin="anonymous">


	{{ $styles := resources.Get "css/styles.scss" }}
  {{ $css := $styles | resources.ToCSS (dict "enableSourceMap" true) }} <!-- | resources.Minify | resources.Fingerprint "sha512"  -->
  <link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}">

  <!-- Share this --> 
  {{ if .Site.Params.customsharethis }}
	<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property={{ .Site.Params.sharethis.property }}&product=custom-share-buttons"></script>
	{{ end }}
