
<nav class="navbar navbar-default">
    <div class="container">
        <a href="/"><img id='logbar' src="{{ .Site.BaseURL }}/{{ .Site.Params.avatar }}" alt=""></a>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
            {{ $currentPage := . }}
            {{ $page_url:= $currentPage.RelPermalink | relLangURL }}
        
            {{ range .Site.Menus.main }}
                {{ $menu_item_url := .URL | relLangURL }}
                {{ if .HasChildren }}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{ .Name }}<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {{ range .Children }}
                        <li>
                            <a href="{{ .URL | relLangURL }}" {{ if $.IsHome }} data-target="{{ .URL }}" {{ end }}>
                                {{ .Name }}
                            </a>
                        </li>
                        {{end}}
                    </ul>
                </li>
                {{ else }}
                <li>
                    <a href="{{ .URL | relLangURL }}" class="{{ if eq $menu_item_url $page_url }}active{{end}}">{{ .Name }}</a>
                </li>
                {{ end }}
            {{ end}}

                <!-- Contact -->
                <li>
                    <a href="#contact">Contact</a>
                </li>
                <!-- Get all translations content languages
                {{ range $.Site.Home.AllTranslations }}
                <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
                {{ end }}
                -->
            </ul>

        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
