{{ define "main" }}
<main id="main">
	
	<div class="container">
		<div class="row topspace">
			<div class="col-sm-12">
				<h1 class="entry-title">Services</h1>
				{{ partial "home/services.html" . }}
			</div>
		</div>
	</div>

</main>
{{ end }}
