{{ define "main" }}
  <main id="main" class="services">
  
  	<div class="container">
  
  		<div class="row topspace">
  
  			<!-- Sidebar -->
  			<aside class="col-sm-3 sidebar sidebar-right">
  
  				<div class="nav text-right nav-side">
					<li class="ariane"><a href="/services"><span class="retour"><i class="fas fa-chevron-left"></i></span> Services /</a></li>
  					<li class="title"><h1>
						{{ if .Params.icon }}<i class="icone-service fa {{ .Params.icon }}"></i>{{ end }}
						{{ .Title }}</h1>
					</li>
  				</div>
  
  			</aside>
  			<!-- /Sidebar -->

  			<!-- Article main content -->
			{{ $body := replace .Content .Summary "" }}
			  
  			<article class="col-sm-8  col-sm-offset-1 maincontent">
				<h2 class="intro">{{ .Summary }}</h2>
                {{ $body | safeHTML }}

  			</article>
  			<!-- /Article -->  
  		</div>
		
  	</div>	<!-- /container -->
  
	</main>
{{ end }}
