/****************** FONTS *******************/

/** imported before via HTML **/

/****************** COLORS ******************/

$color-one: #8D0052;
$color-two: #0D9ED9;
$color-three: #f05322;

$color-grey: #ccc;


/****************** BASE STYLES **************/

$font-base: 'Arial', sans-serif;
$font-title: 'League Spartan', sans-serif;

html {
  font-size: 100%;
}
body {
  font-size: 15px;
  font-size: 0.92rem;
  font-family: $font-base;
  color: #333;
  padding: 0;
}

.topspace {
  margin-top: 3rem;
}

/*********************************************************************


                                TYPOGRAPHY


**********************************************************************/
p {
  line-height: 1.6em;
  margin: 0 0 1.5rem 0;
}
ul,
ol {
  line-height: 1.6em;
  margin: 0 0 30px 0;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 30px;
  border-left: 5px solid #eee;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $font-title;
  font-weight: 400;
  color: #222;
}
h1 {
  font-size: 40px;
  font-size: 2.5rem;
}
h2 {
  font-size: 36px;
  font-size: 2.25rem;
}
h3 {
  font-size: 30px;
  font-size: 1.875rem;
}
h4 {
  font-size: 24px;
  font-size: 1.5rem;
}
h5 {
  font-size: 20px;
  font-size: 1.25rem;
}
a {
  color: $color-one;
}
a:hover {
  color: $color-one;
}
.intro, .lead {
  font-weight: 300;
  font-size: 1.125rem;
  strong {
    color: $color-two;
  }
}
.intro {
  font-family: $font-base; 
  font-weight: 600;
  margin-top: 0;
}
.text-msg {
  line-height: 1.7em;
  color: #b3b3b3;
  font-weight: 300;
  text-transform: capitalize;
  margin-top: -0.23em;
}
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

/*********************************************************************


                            Navigation in header


**********************************************************************/
.navbar {
  border-width: 1px 0;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  width: 100%;
}
.navbar.stick {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .85);
}
.navbar-collapse {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  font-family: $font-base;
  font-weight: 300;
  text-transform: uppercase;
}
.navbar-collapse .navbar-nav {
  float: none;
  margin: 0 auto;
  text-align: center;
}
.navbar-collapse .navbar-nav > li {
  float: none;
  display: inline-block;
}
.navbar-collapse .navbar-nav > li > a {
  padding: 20px 30px;
}
.dropdown ul.dropdown-menu {
  top: 85%;
  text-align: left;
}
.dropdown ul.dropdown-menu > li > a {
  padding: 5px 30px;
}
.navbar-default {
  background-color: #ffffff;
  border-color: $color-one;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  box-shadow: $color-one 0px 1px 10px;
}
.navbar-default .navbar-nav > li > a {
  color: #333333;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
}
.navbar-default .dropdown ul.dropdown-menu > li > a {
  color: #333333;
}
.navbar-default .dropdown ul.dropdown-menu > li > a:hover {
  background-color: #eeeeee;
  color: #000000;
}
.navbar-default .navbar-toggle {
  border-color: #666666;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #333333;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #cccccc;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #ffffff;
  color: #000000;
}

#logbar {
  height: auto;
  
  max-width: 70%;
  margin: 1em 0; 
  float: left;  
  @media (min-width: 768px) {
    height: 85px;
  }
}

.navbar {
  .navbar-header {
    .navbar-toggle {
      border: 0 none;
      margin-top: 55px;
      margin-right: 2empx;
    }
  }
  ul.nav {
    @media (min-width: 768px) {
      height: 78px;
      margin: 2em 0 0 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    li {
      a {
        padding-bottom: 3px;
        padding-right: 0;
        padding-left: 0;
        padding-top: 4px;
        margin: 0 30px;
        font-weight: 600;;
      }
      a.active {
        padding-bottom: 2px;
        border-bottom: 1px solid $color-two;      
      }
      a:hover {
        padding-bottom: 0;
        border-bottom: 3px solid $color-two;      
      }
      
    }
  }
}

/****************************************************************************************


                                     Sidebar special Nav


*****************************************************************************************/
.nav-side {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300;
}
.nav-side > li {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: $font-title;
  text-transform: uppercase;
}
.nav-side > li.ariane {
  margin-top: -2.6rem;
  a {
    color: $color-grey;
    background: none;
    font-size: 1.1rem;
    padding: 0;
    .retour {
      display: none;
    }
    &:hover {
      text-decoration: underline;
    .retour {
      display: inline;
    }
  }
  }
}
.nav-side > li.title {
  h1 {
    font-size: inherit;
    margin: 0;
    color: $color-two;
  }
}

/*********************************************************************


                                HEADER


**********************************************************************/
#head {
  background-color: $color-two;
  background-position: top center;
  background-size: cover;
  color: #7C7C7C;
  padding: 10px 0 15px 0;
}

#head img {
  display: block;
  width: 140px;
  height: 140px;
  overflow: hidden;
  /*border: 9px solid rgba(0, 0, 0, 0.75);*/
  margin: 20px;
}

#head img.img-circle {
  border-radius: 50%
}

#head img.img-rounded {
  border-radius: 20px;
}

#head img.img-square {
  border-radius: none;
}

#head .title {
  font-family: Helvetica, sans-serif;
  font-size: 49px;
  font-size: 3.0625rem;
  color: #000;
}
#head .title a {
  text-decoration: none;
  color: #000;
}
#head .tagline {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.2em;
  color: #000;
  margin: 5px 0 0;
}
#head .tagline b {
  font-weight: normal;
}
#head .tagline a {
  color: #FFF;
}

#head #logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home #head {
  padding: 20px 0;
}
.home #head .title {
  font-size: 49px;
  font-size: 3.0625rem;
}
.home #head .tagline {
  font-size: 16px;
  font-size: 1rem;
  margin: 15px 0 0;
}

/*********************************************************************


                                CONTENT


**********************************************************************/
img {
  max-width: 100%;
}
.btn {
  font-size: 12px;
  font-size: 0.75rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border: 0 none;
  padding: 12px 35px;
  text-shadow: 0 1px 0px #780d33;
}
.btn-primary {
  color: #fff;
  background-color: $color-one;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #fff;
  background-color:$color-one;
}
.btn-action {
  font-weight: bold;
  background: transparent!important;
  border: 1px solid #333;
  text-shadow: none;
}
.btn-action:hover,
.btn-action:focus,
.btn-action:active,
.btn-action.active {
  color: #bd1550;
  border-color: $color-one;
}
.btn-lg {
  padding: 15px 60px;
  font-size: 12px;
  line-height: 1.33;
  font-weight: bold;
}
.panel-cta {
  box-shadow: 0 0 0 1px #e1e1e1, 0 0 0 3px #fff, 0 0 0 4px #e1e1e1;
  background: #f3f3f3;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
.panel-cta p,
.panel-cta h3,
.panel-cta h4,
.panel-cta h5,
.panel-cta h6 {
  margin: 0;
}
.panel-cta .panel-body {
  padding: 35px;
}

#back_to_home {
  font-size: 2.5rem;
  display: block;
  margin-bottom: 200px;
}

/************ SERVICES ****************/

.ligne-services {
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
}

.bloc-service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 40px;
  h3 {
    text-transform: uppercase; 
    font-size: 1.5rem;
    line-height: 1.4em;
    min-height: 4rem;
    vertical-align: middle;
    margin: 0 0 25px 0;
    font-family: $font-title;
  }
  @media only screen and (max-width: 767px) {
    margin-bottom: 2rem;
    padding-left: 2em;
    h3 {
      min-height: 1em;
    }
  }
  @media only screen and (max-width: 991px) and (min-width: 768px) {
    margin-bottom: 4rem;
    padding-left: 2em;
  }
  
  font-size: 1.05em;
  strong {
    color: $color-three;  
  }
  .summary > a {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
  .read_more > a {
    color: $color-two;  
    border-color: $color-two;
    &:hover {
      color: $color-one;  
    border-color: $color-one;
    text-decoration: underline;
    }
  }
}

.titre-service {
  &, & > a {
    color: $color-two;
  }
  &:hover, & > a:hover {
    text-decoration-color: $color-one;
  } 
}

.icone-service {
  color: $color-one;
}

/************ CLIENTS ****************/

.bloc-client {
  padding: 0 3em;
}
.thumbnails {
  &.clients .slider-container {
    height: 220px;
    & > li {
      max-height: 220px;
    }
  }
  & > ::after {
    padding-top: 0;
  }
  padding: 0;
}

.thumbnails .details {
  display: block;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
}
.thumbnail {
  display: block;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  border: 0 none;
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  color: #333;
}
.thumbnail .img {
  display: block;
  width: 100%;
  overflow: hidden;
  height: 120px;
  margin: 0 0 20px;
  position: relative;
}
.thumbnail .title {
  text-transform: uppercase;
  margin: 0 2em;
  display: block;
  text-indent: 0;
  font-family: $font-title;
  min-height: 2.8em;
}
.thumbnail .cover {
  position: absolute;
  display: block;
  opacity: 0;
  width: 100%;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 550ms;
  -moz-transition-duration: 550ms;
  -o-transition-duration: 550ms;
  transition-duration: 550ms;
}
.thumbnail .cover .more {
  position: absolute;
  bottom: 15px;
  right: 0;
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
  -webkit-border-radius: 1px 0 0 1px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 1px 0 0 1px;
  -moz-background-clip: padding;
  border-radius: 1px 0 0 1px;
  background-clip: padding-box;
  font-size: 12px;
  font-size: 0.75rem;
  text-shadow: 0 1px 0px #780d33;
  background: $color-one;
  color: white;
}
.thumbnail img {
  object-fit: contain;
  max-height: 100%;
  position: absolute;
  height: 120px;
  width: 100%;
  top: 0;
  left: 0;
}
.thumbnail:hover {
  color: #333;
  text-decoration: none;
}
.thumbnail:hover img {
  -webkit-filter: saturate(0%);
}
.thumbnail:hover .cover {
  opacity: 1;
}
/* pagination */
.pagination > li > a {
  color: #808080;
  border: 0 none;
  font-size: 20px;
  font-size: 1.25rem;
  font-family: Georgia, serif;
}
.pagination > li > a:hover {
  color: #000000;
  background: none;
}
.pagination > li.active > a {
  color: #333333;
  background: none;
}
.pagination > li.active > a:hover {
  color: #000000;
  background: none;
}

/** Pas de flèches next / prev si grand ecran et moins de 3 **/
@media only screen and (min-width: 768px) {
  .thumbnails.clients {
    &.count3, &.count2, &.count1 {
      .slider-nav {
        display: none;
      }
    }
  }
}

/** Spécifique **/
.bloc-client.erim {
  .img {
    img {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    background-color: #788cff;
  }
}
.bloc-client.criavs img {
  max-width: 106px;
  left: 60px;
  top: 10px;
}

/*********************************************************************


                                 PAGE


**********************************************************************/

article {
  h2:first-child {
    margin-top: 0;
  }
}

/*********************************************************************


                                 BLOG


**********************************************************************/
.section-title,
.entry-title {
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0px 0 3rem;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 36px;
  font-size: 2.25rem;
  letter-spacing: 1px;
  color: #333333; // $color-two ??
}
.section-title a,
.entry-title a {
  color: #333333;
}
.section-title span,
.entry-title span {
  display: inline-block;
  position: relative;
}
.section-title span:before,
.entry-title span:before,
.section-title span:after,
.entry-title span:after {
  content: "";
  position: absolute;
  height: 4px;
  top: .53em;
  width: 400%;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.section-title span:before,
.entry-title span:before {
  right: 100%;
  margin-right: 45px;
}
.section-title span:after,
.entry-title span:after {
  left: 100%;
  margin-left: 45px;
}
.entry-header .entry-meta {
  text-align: center;
  font-family: Georgia, serif;
  font-size: 18px;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: normal;
  color: #a5a5a5;
  margin: 0 0 15px 0;
}
.entry-header .entry-meta a {
  color: #a5a5a5;
}
.entry-content {
  margin: 0 0 60px 0;
}
.entry-content h2 {
  line-height: 1.2;
  font-size: 30px;
  font-size: 1.875rem;
  padding-top: 20px;
  margin-bottom: 20px;
}
.meta-nav,
.more-link {
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: bold;
  color: #666666;
  text-decoration: none;
}
.meta-nav:hover,
.more-link:hover {
  color: #333333;
  text-decoration: underline;
}
.more-link {
  display: block;
  width: 100%;
  text-align: right;
}
/* Posts navigation */
#nav-below {
  position: fixed;
  top: 48%;
}
#nav-below .meta-nav {
  display: block;
  padding: 27px 7px;
  background: #444;
  color: #fff;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  font-family: $font-base;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  opacity: 0.2;
}
#nav-below .meta-nav:hover {
  text-decoration: none;
  color: #333;
}
#nav-below .nav-next {
  position: fixed;
  right: -3px;
}
#nav-below .nav-previous {
  position: fixed;
  left: -3px;
}
#nav-below b {
  display: none;
}
footer.entry-meta {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0 0 35px 0;
  padding: 2px 0;
  color: #888888;
  font-size: 12px;
  font-size: 0.75rem;
}
footer.entry-meta a {
  color: #333333;
}
footer.entry-meta .meta-in {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.page-header {
  padding-bottom: 0;
  margin: 0;
  border-bottom: none;
  text-align: left;
}
.page-header .page-title {
  margin-top: 0;
  margin-bottom: 30px;
}
/*********************************************************************


                                COMMENTS


**********************************************************************/
#comments {
  font-size: 13px;
  font-size: 0.8125rem;
}
#comments .comments-title {
  margin: 0 0 5px 0;
}
#comments .leave-comment {
  display: block;
  margin: 0 0 40px 0;
}
#comments ul,
#comments ol {
  margin: 0;
  padding: 0;
}
#comments .comment {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
}
#comments .comments-title {
  text-shadow: none;
  margin-bottom: 0;
}
#comments .avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-bottom: 30px;
  border: 5px solid #eeeeee;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
}
#comments .children {
  margin: 0 0 0 90px;
}
#comments .comment-meta {
  margin: 0 0 0 90px;
}
#comments .comment-meta a {
  color: #333333;
}
#comments .comment-meta a:hover {
  color: #bd1550;
}
#comments .comment-meta .author {
  margin: 0 20px 0 0;
  font-weight: bold;
}
#comments .comment-meta .date {
  margin: 0 20px 0 0;
}
#comments .comment-meta .date a {
  color: #666666;
}
#comments .comment-meta .reply {
  float: right;
}
#comments .comment-body {
  margin: 0 0 35px 90px;
}
.comment-navigation {
  width: 100%;
  border-top: 1px solid #ccc;
  padding: 2px 0 0 0;
}
.comment-navigation .nav-content {
  border-top: 1px solid #ccc;
  width: 100%;
  padding: 10px 0 0 0;
}
.comment-navigation .nav-previous {
  float: left;
  width: 50%;
}
.comment-navigation .nav-next {
  float: right;
  width: 50%;
  text-align: right;
}
#respond {
  margin: 55px 0 0 0;
}
/*********************************************************************


                                FOOTER


**********************************************************************/
#footer_wrapper {
  padding-top: 50px;
  overflow: hidden;
}
#footer {
  background: #232323;
  padding: 30px 0 0 0;
  color: #999;
  margin-top: 4em;
}
#footer a {
  color: #ccc;
}
#footer a:hover {
  color: #fff;
}
#footer h3.widget-title {
  font-size: 1.15rem;
  text-transform: uppercase;
  color: #ccc;
  margin: 0 0 20px;
}

#footer {
  #contact_infos {
    border: 1pt solid $color-two;
    background-color: $color-two  ;
    width: 6500px;
    padding: 0.5em;
  }
  p.name {
    color: $color-one;
    font-family: $font-title;
    font-size: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    text-transform: uppercase;
  }
  p.phone, p.mail {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    font-weight: 800;
    a {
      color: #fff;
    }
    color: $color-one
  }
  .widget-body + .widget-title {
    margin-top: 2em;
  }
}
#underfooter {
  background: #191919;
  padding: 15px 0;
  color: #777;
  font-size: 12px;
}
#underfooter a {
  color: #aaa;
}
#underfooter a:hover {
  color: #fff;
}
#underfooter p {
  margin: 0;
}
.follow-me-icons {
  font-size: 30px;
}
.follow-me-icons i {
  padding: 15px 0;
  margin: 0 10px 0 0;
}
/* Max page width
/////////////////////////////////////////////////////////////////////*/
@media (min-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}

/************************** CONTACT ************************************/

@media (max-width: 991px) {
.footer-specifique {
  display: flex;
  flex-direction: column-reverse;
}
}

.widget-contact {
  margin-top: 30px;
  @media (min-width: 520px) {
    margin-top: -15px;
  }
  @media (min-width: 660px) {
  margin-top: -30px;
  }
  //margin-bottom: 30px;
  @media (min-width: 992px) {
    margin-top: -60px;
    margin-bottom: 30px;
  }
}

/************************** CERTIFS ************************************/

.badge {
  font-size: 0.95rem;
  //border: 2px solid $color-three;
  a { color: #fff!important; display: block; margin-bottom: 0.2em; }
  margin: 0.25em 0;
  text-align: left;
  small {
    color: #ccc;
    display: block;
  }
  min-height: 2em;
}


/*********************************************************************


                                SHARE THIS


**********************************************************************/
.st-custom-button[data-network] {
   background-color: #fff;
   display: inline-block;
   padding: 0px 5px 20px 5px;
   cursor: pointer;
   font-weight: bold;
   color: #666666;
   &:hover, &:focus {
      color: #004488;
   }
}
